In [1]:
import pandas as pd

In [9]:
file_dir = 'C://Users/01ram/Movies/'

In [10]:
f'{file_dir}filename'

'C://Users/01ram/Movies/filename'

In [11]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [17]:
movies_metadata.head()

NameError: name 'movies_metadata' is not defined

In [13]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556